body{
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 100%;
    padding: 10px;
    margin-left: 20px;    
}

footer{
    bottom: 1rem;
    position: fixed;
    width: 100%;
    text-align: center;
}

.m{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
