body{
    font-family: 'Poppins', sans-serif;
}


footer{
    bottom: 1rem;
    position: fixed;
    width: 100%;
    text-align: center;
}

table{
    width: 50% !important;
    margin: auto;
}

.card{
    text-align: center;
    margin: 1rem;
    padding: 5px;
}

.m{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.nav{
    width: 100%;
    padding: 10px;
    margin-left: 20px;
}
